.about {
  margin-bottom: 214px;
  @include w1023 {
    margin-bottom: 96px;
  }
  @include w767 {
    margin-bottom: 60px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    @include w1023 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 31px;
      text-align: center;
    }
  }
  &__title {
    max-width: 440px;
    @include w1023 {
      max-width: 350px;
      margin-bottom: 37px;
    }
    @include w767 {
      margin-bottom: 19px;
    }
  }
  &__text {
    max-width: 536px;
    margin-top: 2px;
    margin-right: 112px;
    margin-bottom: 0;
    line-height: 24px;
    color: $secondary-black-color;
    @include w1200 {
      margin-right: 0;
      padding-left: 50px;
    }
    @include w1023 {
      max-width: 500px;
      margin-top: 0;
      padding-left: 0;
    }
    @include w767 {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__map {
    position: relative;
    margin-bottom: 108px;
    @include w1023 {
      margin-bottom: 51px;
    }
  }
  &-map {
    &__marker {
      position: absolute;
      width: 32px;
      height: 32px;
      background: url('../images/map-marker.svg') center/contain no-repeat;
      @include w1023 {
        width: 17px;
        height: 17px;
      }
      @include w767 {
        width: 8px;
        height: 8px;
      }
      &:hover,
      &:focus {
        span {
          display: block;
          @include w767 {
            display: none;
          }
        }
      }
      span {
        position: absolute;
        z-index: 2;
        left: calc(100% + 12px);
        bottom: calc(100% + 2px);
        display: none;
        padding: 11px 26px;
        background: #f2f2f2;
        border-radius: 4px;
        color: $secondary-black-color;
        line-height: 24px;
        white-space: nowrap;
        @include w1023 {
          left: calc(100% + 6px);
          bottom: -7px;
          padding: 7px 25px;
          font-size: 12px;
        }
        @include w767 {
          left: calc(100% + 4px);
          padding: 0;
          font-weight: 500;
          font-size: 10px;
          background: none;
        }
        &:after {
          content: '';
          position: absolute;
          left: -6px;
          bottom: -6px;
          width: 14px;
          height: 14px;
          background: url('../images/map-marker-arr.svg') center/cover no-repeat;
          @include w767 {
            display: none;
          }
        }
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 24px;
    }
    @include w767 {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 32px 24px;
    }
  }
  &__item {
    @include w767 {
      text-align: center;
    }
  }
  &-item {
    &:before {
      content: '';
      width: 44px;
      height: 3px;
      display: block;
      margin-bottom: 13px;
      background: $main-blue-color;
      @include w767 {
        margin: 0 auto 13px;
      }
    }
    &__title {
      max-width: 270px;
      margin-top: 0;
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      @include w1023 {
        margin-bottom: 16px;
      }
      @include w767 {
        font-size: 12px;
        line-height: 16px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__text {
      max-width: 300px;
      margin: 0;
      line-height: 24px;
      color: $secondary-black-color;
      @include w1200 {
        max-width: none;
      }
      @include w767 {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
