.header {
  position: absolute;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
    @include w767 {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  &__checkbox {
    display: none;
    &:checked ~ .header__menu {
      transition: transform 0.3s;
      transform: translateY(0);
    }
    &:checked ~ .header__overlay {
      display: block;
    }
  }
  &__logo {
    transform: translateX(2px);
    @include w1023 {
      position: relative;
      z-index: 4;
    }
    @include w767 {
      width: 160px;
    }
  }
  &__menu {
    @include w1023 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: translateY(-100%);
      width: 100%;
      padding: 146px 0;
      background: $main-blue-color;
    }
    @include w767 {
      padding: 114px 0 54px;
    }
  }
  &-menu {
    &__close {
      display: none;
      @include w1023 {
        position: absolute;
        top: 27px;
        right: 24px;
        display: block;
        cursor: pointer;
      }
      @include w767 {
        right: 8px;
        padding: 8px;
      }
      svg {
        @include w767 {
          width: 24px;
          height: 24px;
        }
      }
    }
    &__list {
      display: flex;
      padding: 0;
      list-style: none;
      @include w1023 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin: 0 auto;
        width: 500px;
      }
      @include w767 {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }
    &__item {
      @include w767 {
        order: initial !important;
      }
      &:nth-child(1) {
        @include w1023 {
          order: -10;
        }
      }
      &:nth-child(2) {
        @include w1023 {
          order: -7;
        }
      }
      &:nth-child(3) {
        @include w1023 {
          order: -9;
        }
      }
      &:nth-child(5) {
        @include w1023 {
          order: -8;
        }
      }
      &:not(:last-child) {
        margin-right: 33px;
        @include w1023 {
          margin-right: 0;
        }
      }
    }
    &__link {
      color: $secondary-white-color;
      font-weight: 500;
      &:hover {
        color: $main-blue-color;
        @include w1023 {
          color: $secondary-white-color;
          text-decoration: underline;
        }
      }
      &:focus {
        color: $hover-blue-color;
        @include w1023 {
          color: $secondary-white-color;
          text-decoration: underline;
        }
      }
    }
  }
  &__burger {
    display: none;
    @include w1023 {
      display: block;
      cursor: pointer;
    }
    @include w767 {
      padding: 16px;
      transform: translateX(16px);
    }
    svg {
      @include w767 {
        width: 24px;
        height: 16px;
      }
    }
  }
  &__overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(6, 17, 30, 0.68);
  }
}
