footer.footer 
  .container.footer__container
    a.footer__logo(href="/") 
      img(src="images/logo.png" alt="Логотип")
    nav.footer__menu.footer-menu
      ul.footer-menu__list 
        li.footer-menu__item 
          a.footer-menu__link(href="/") Главная
        li.footer-menu__item 
          a.footer-menu__link(href="/#projects") Проекты
        li.footer-menu__item 
          a.footer-menu__link(href="/#reviews") Сертификаты
        li.footer-menu__item 
          a.footer-menu__link(href="/#about") О компании
        li.footer-menu__item 
          a.footer-menu__link(href="/#reviews") Отзывы
        li.footer-menu__item 
          a.footer-menu__link(href="/#contacts") Контакты
    .footer__botitem
      .footer__link © БАЛТПРОМХОЛОД 2021
    .footer__botitem
      a.footer__link(href="user-agreement.html") Соглашение на обработку<br> персональных данных
    .footer__botitem
      a.footer__link(href="privacy-policy.html") Политика конфиденциальности