header.header
  .container.header__container
    img.header__logo(src="images/logo.png" alt="Логотип")
    nav.header__menu.header-menu
      ul.header-menu__list 
        li.header-menu__item 
          a.header-menu__link(href="#about")  О компании
        li.header-menu__item 
          a.header-menu__link(href="#projects") Проекты
        li.header-menu__item 
          a.header-menu__link(href="#reviews") Отзывы
        li.header-menu__item 
          a.header-menu__link(href="#contacts") Контакты