@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/colors';
@import 'variables/indents';

::selection {
  background-color: rgba(0, 140, 204, 0.99);
  color: $main-white-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: $main-white-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-blue-color;
  border-radius: 2px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $main-black-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: $padding-container;
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
  @include w1023 {
    margin-bottom: $tablet-margin-section;
  }
  @include w767 {
    margin-bottom: $mobile-margin-section;
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.h2title {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  @include w767 {
    font-size: 24px;
    line-height: 28px;
  }
}

.subtitle {
  display: block;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  @include w1023 {
    margin-bottom: 18px;
    text-align: center;
  }
}

.shortbanner {
  height: 104px;
  margin-bottom: 96px;
  background: url('../images/shortbanner.jpg') center/cover no-repeat;
  @include w767 {
    height: 84px;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/banner';
@import 'blocks/about';
@import 'blocks/projects';
@import 'blocks/facts';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/reviews';
@import 'blocks/contacts';
@import 'blocks/text';
