extends ../main

block variables
  - var title = 'Главная'

block content

  section.banner.margin-section
    .container 
      span.banner__subtitle Строительство дорог
      h1.banner__title Большой опыт в строительстве дорог
      p.banner__text Создание комфортной среды для жизни, отдыха и продуктивной деятельности с использованием лучшего отечественного и мирового опыта и применением безопасных технологий строительства. 

  section.about#about.margin-section
    .container 
      span.subtitle О компании
      .about__top
        h2.about__title.h2title Десять лет на рынке, четверть века в истории
        p.about__text Мы имеем обширную область компетенций на рынке проектирования и страительства сложных дорожных развязок применяя новейшие технологии и организуя собственные разработки.
      .about__map.about-map
        img(src="images/map.jpg" alt="Карта ")
        .about-map__marker(style="top: 15%; left: 27%" tabindex="0")
          span Мурманск
        .about-map__marker(style="top: 25%; left: 16%" tabindex="0")
          span Санкт-Петербург
        .about-map__marker(style="top: 27%; left: 25%" tabindex="0")
          span Архангельск
        .about-map__marker(style="top: 56%; left: 2.4%" tabindex="0")
          span Белгород
        .about-map__marker(style="top: 60.3%; left: 3.7%" tabindex="0")
          span Сочи
        .about-map__marker(style="top: 55%; left: 13%" tabindex="0")
          span Республика Адыгея
        .about-map__marker(style="top: 47%; left: 17%" tabindex="0")
          span Чебоксары
        .about-map__marker(style="top: 52%; left: 27%" tabindex="0")
          span Пермь
        .about-map__marker(style="top: 59%; left: 28%" tabindex="0")
          span Екатеринбург
        .about-map__marker(style="top: 73%; left: 47%" tabindex="0")
          span Красноярск
        .about-map__marker(style="top: 85%; left: 60%" tabindex="0")
          span Улан-Удэ
        .about-map__marker(style="top: 86%; left: 33%" tabindex="0")
          span Душанбе
      ul.about__list
        li.about__item.about-item
          h3.about-item__title Комплексное проектирование дорог и развязок
          p.about-item__text Мы разрабатываем надежные энергоэффективные решения с применением передовых материалов и технологий, обеспечивая оптимальное сочетание цены и качества.
        li.about__item.about-item
          h3.about-item__title Выгодные поставки оборудования
          p.about-item__text Используйте наши знания и партнерские возможности по организации поставок необходимого оборудования ведущих производителей.
        li.about__item.about-item
          h3.about-item__title Общестроительные и кровельные работы
          p.about-item__text Мы специалисты и для нас нет неразрешимых задач в строительномонтажных, монолитных, кровельных и фасадных работах.
        li.about__item.about-item
          h3.about-item__title Установка современных инженерных систем
          p.about-item__text Получите полный комплекс услуг по монтажу и пусконаладочным работам с контролем качества и гарантией.

  section.projects#projects.margin-section
    .container.tabs
      .projects__top
        h2.projects__title.h2title Проекты
        ul.projects__tabs.projects-tabs
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn.tabs__btn--active(data-tab="1") 2020
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="2") 2019
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="3") 2018
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="4") 2017
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="5") 2016
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="6") 2015
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="7") 2014
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="8") 2013
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="9") 2012
          li.projects-tabs__item
            button.projects-tabs__btn.tabs__btn(data-tab="10") 2011
      .projects__tab.tabs__container.tabs__container--active(data-tab="1")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2020/49.jpg" alt="Осуществление строительного контроля за выполнением работ по строительству")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Осуществление строительного контроля за выполнением работ по строительству
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Йошкар-Ола
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2020
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2020/50.jpg" alt="Выполнение подрядных работ по строительству объекта капитального строительства")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Выполнение подрядных работ по строительству объекта капитального строительства
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Москва, МКАД с ЮВХ-9
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2020
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="2")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2019/44.jpg" alt="Выполнение земельных работ (Пулковский комплекс №2)")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Выполнение земельных работ (Пулковский комплекс №2)
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, А-113
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2019
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2019/45.jpg" alt="Выполнение земельных работ (Пулковский комплекс №3)")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Выполнение земельных работ (Пулковский комплекс №3)
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, А-113
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2019
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2019/46.jpg" alt="Выполнение земельных работ (Пулковский комплекс №4)")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Выполнение земельных работ (Пулковский комплекс №4)
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, А-113
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2019
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2019/47.jpg" alt="Работы по установке ограждающего забора на ПК 12+22,69 - ПК 1067+67,68 и иные строительно-монтажные работы")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Работы по установке ограждающего забора на ПК 12+22,69 - ПК 1067+67,68 и иные строительно-монтажные работы 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, ЦКАД-3
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2019
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2019/48.jpg" alt="Работы по строительству Центрального пункта управления и иные строительно-монтажные работы")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Работы по строительству Центрального пункта управления и иные строительно-монтажные работы 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, ЦКАД-3
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2019
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="3")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2018/42.jpg" alt="Выполнение аварийно-восстановительных работ по ликвидации последствий чрезвычайной ситуации в отношении объектов системы жизнеобеспечения населения")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Выполнение аварийно-восстановительных работ по ликвидации последствий чрезвычайной ситуации в отношении объектов системы жизнеобеспечения населения
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2018
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2018/43.jpg" alt="Котельная 3 мВт для дошкольного образовательного учреждения")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Котельная 3 мВт для дошкольного образовательного учреждения
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text МБОУДО ДДЮТ
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Всеволожск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2018
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="4")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/30.jpg" alt="135-квартирный жилой дом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name 135-квартирный жилой дом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Дирекция по строительству в Северо-Западном регионе УКС 7 службы ФСБ России
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Мурманская область, пгт Никель
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/31.jpg" alt="100-квартирный жилой дом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name 100-квартирный жилой дом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Дирекция по строительству в Северо-Западном регионе УКС 7 службы ФСБ России
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Заполярный
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/32.jpg" alt="180-квартирный жилой дом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name 180-квартирный жилой дом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Дирекция по строительству в Северо-Западном регионе УКС 7 службы ФСБ России
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Мурманск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/33.jpg" alt="ЖК «Каменка» 2,3,4,5 и 6 корпуса")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name ЖК «Каменка» 2,3,4,5 и 6 корпуса
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Банк «Российский капитал» ООО «СПК-А»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/34.jpg" alt="ЖК «Императорский Яхт-Клуб»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name ЖК «Императорский Яхт-Клуб»
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text АО «Газпромбанк»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/35.jpg" alt="Плавательный бассейн")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Плавательный бассейн
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Газпром инвестгазификация»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Белгородская область, п. Борисовка
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/36.jpg" alt="Плавательный бассейн")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Плавательный бассейн
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Газпром инвестгазификация»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Белгородская область, п. Красная Яруга
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/37.jpg" alt="Ледовый каток")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Ледовый каток
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Газпром инвестгазификация»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Грайворон
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/38.jpg" alt="Наружные сети водопровода, канализации и теплоснабжения")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Наружные сети водопровода, канализации и теплоснабжения 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Комитет по строительству
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/39.jpg" alt="Наружные сети водопровода, канализации и теплоснабжения")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Наружные сети водопровода, канализации и теплоснабжения 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Комитет по строительству
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/40.jpg" alt="Наружные сети водопровода и канализации")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Наружные сети водопровода и канализации
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Орион Плюс»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2017/41.jpg" alt="Наружные сети водопровода и канализации для нового жилого комплекса")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Наружные сети водопровода и канализации для нового жилого комплекса
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «ЭнСиСи»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург, Новое Девяткино
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2017
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="5")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2016/29.jpg" alt="Наружные сети водопровод, канализация, теплоснабжение, ЛОС, КНС для нового жилого комплекса")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Наружные сети водопровод, канализация, теплоснабжение, ЛОС, КНС для нового жилого комплекса
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Ленинградская область
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2016
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="6")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/18.jpg" alt="Магазин и бизнес-центр «Метрика»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Магазин и бизнес-центр «Метрика»
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Строительная база «Рыбинская»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/19.jpg" alt="Магазин и бизнес-центр «Метрика» (благоустройство)")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Магазин и бизнес-центр «Метрика» (благоустройство)
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Строительная база «Рыбинская»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/20.jpg" alt="Завод «Синал» 6-ой корпус")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Завод «Синал» 6-ой корпус
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Сигнал»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Ленинградская область, п. Аннолово
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/21.jpg" alt="Жилой 3-х этажный многоквартирный дом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Жилой 3-х этажный многоквартирный дом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «ФИРМА «СУ 13 Трест 32»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Ленинградская область, п. Юкки
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/22.jpg" alt="Магазин и бизнес-центр «Метрика»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Крытый каток с искусственным льдом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Комитет по строительству
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Кириши
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/23.jpg" alt="«Гамматерапевтический» корпус Республиканского онкологического диспансера")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name «Гамматерапевтический» корпус Республиканского онкологического диспансера
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ЗАО «Институт Гипростроймост-Санкт-Петербург»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Петрозаводск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/24.jpg" alt="Объект капитального строительства: «АгроБизнесИнкубатор»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Объект капитального строительства: «АгроБизнесИнкубатор»
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Ленагропромпроект»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Республика Адыгея, бывший СХА им. Кирова
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/25.jpg" alt="Современный комплекс по производству и переработке мяса птицы (бройлеров) производительностью 50000 т/год")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Современный комплекс по производству и переработке мяса птицы (бройлеров) производительностью 50000 т/год
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Ленагропромпроект»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Самарская область, с.п. Малиновка
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/26.jpg" alt="Многоквартирный дом со встроенно-пристроенными помещениями, наземной автостоянкой, подземной автостоянкой, трансформаторной подстанцией")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Многоквартирный дом со встроенно-пристроенными помещениями, наземной автостоянкой, подземной автостоянкой, трансформаторной подстанцией
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Румпу Проекти»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург, поселок Парголово
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/27.jpg" alt="Строительство спортивного комплекса «Дворец спорта»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Строительство спортивного комплекса «Дворец спорта»
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Омгражданпроект»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Калуга
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2015/28.jpg" alt="Проектирование СПА Комплекса с бассейном и гостевыми комнатами")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Проектирование СПА Комплекса с бассейном и гостевыми комнатами
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Строительная база «Рыбинская»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Ленинградская область, пос. Пески
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2015
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="7")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/8.jpg" alt="Крытый каток с искусственным льдом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Крытый каток с искусственным льдом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text Комитет по строительству
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Ленинградской области, п. Колтуши
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/9.jpg" alt="ТРК «Титан Арена»")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name ТРК «Титан Арена»
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Эйркул»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Архангельск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/10.jpg" alt="Крытый каток с искусственным льдом")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Крытый каток с искусственным льдом
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО ТПИ «Омскгражданпроект»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Кириши
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/11.jpg" alt="Проектирование спортивного комплекса единоборств")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Проектирование спортивного комплекса единоборств
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ЗАО «Институт Гипростроймост-Санкт-Петербург» 
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Самара
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/12.jpg" alt="Многоквартирный дом со встроенными нежилыми помещениями и подземной автостоянкой ")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Многоквартирный дом со встроенными нежилыми помещениями и подземной автостоянкой 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Проектно-конструкторский центр «Регион-Инвест»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/13.jpg" alt="Реконструкция средней общеобразовательной школы № 94")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Реконструкция средней общеобразовательной школы № 94
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «ГлавРосСтрой»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Красноярск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/14.jpg" alt="Многофункциональный спортивный комплекс")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Многофункциональный спортивный комплекс
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «ИСС»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Московская область, пос. Марьино
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/15.jpg" alt="Дворцы Душанбе")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Дворцы Душанбе
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ЗАО «РОСТОВГИПРОШАХТ»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text Таджикистан, г. Душанбе
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/16.jpg" alt="Общежитие")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Общежитие
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Жилищный фонд»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2014/17.jpg" alt="Завод по производству соковой продукции на 112 линий")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Завод по производству соковой продукции на 112 линий
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text LCC AECOM
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Пермь
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2014
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="8")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2013/6.jpg" alt="Крытый круглогодичный ледовый дворец")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Крытый круглогодичный ледовый дворец
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «УИМП-ПРОЕКТ»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Киров
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2013
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2013/7.jpg" alt="Кафедральный собор")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Кафедральный собор 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Мой город»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Улан-Удэ
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2013
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="9")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2012/2.jpg" alt="ОЭЗ «Ново-Орловское» Производство препаратов из плазмы крови человека")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name ОЭЗ «Ново-Орловское» Производство препаратов из плазмы крови человека 
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Ленмонтаж»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2012
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2012/3.jpg" alt="Проект экологического комплекса в составе Бункеровочной базы")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Проект экологического комплекса в составе Бункеровочной базы
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «МОРСТРОЙТЕХНОЛОГИЯ»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text  г. Мурманск
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2012
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2012/4.jpg" alt="Международный центр морских пассажирских и круизных перевозок")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Международный центр морских пассажирских и круизных перевозок
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «МОРСТРОЙТЕХНОЛОГИЯ»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text  г. Сочи
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2012
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2012/5.jpg" alt="Реконструкция объекта спортивного комплекса “Динамо”")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Реконструкция объекта спортивного комплекса “Динамо”
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ЗАО «Архиком»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text  г. Санкт-Петербург
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2012
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .projects__tab.tabs__container(data-tab="10")
        .projects__gallery.swiper-container
          .swiper-wrapper
            .projects__item.projects-item.swiper-slide
              .projects-item__wrapper
                img.projects-item__img.swiper-lazy(src="/" data-src="images/projects/2011/1.jpg" alt="Ледовый дворец спорта на 9500 зрительских мест с концертным вариантом на 1200")
                .swiper-lazy-preloader.swiper-lazy-preloader-blue
                .projects-item__overlay
              .projects-item__wrapper
                .projects-item__top
                  .projects-item__type Объект
                  .projects-item__name Ледовый дворец спорта на 9500 зрительских мест с концертным вариантом на 1200
                ul.projects-item__bot
                  li.projects-item__col
                    .projects-item__title Заказчик
                    .projects-item__text ООО «Мой город»
                  li.projects-item__col
                    .projects-item__title Место
                    .projects-item__text г. Чебоксары
                  li.projects-item__col
                    .projects-item__title Год
                    .projects-item__text 2011
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next

  section.facts.margin-section
    .container
      span.subtitle Ключевые факты
      ul.facts__grid 
        li.facts__item.facts-item
          h2.facts__title.h2title За десять лет нашей деятельности
        li.facts__item.facts-item
          .facts-item__title 01
          .facts-item__text Реализовали более 30 объектов
        li.facts__item.facts-item
          .facts-item__title 02
          .facts-item__text Заключили ряд эксклюзивных дилерских соглашений
        li.facts__item.facts-item
          .facts-item__title 03
          .facts-item__text Накопили значительный объем знаний
        li.facts__item.facts-item
          .facts-item__title 04
          .facts-item__text Разработали и внедрили десятки инновационных решений
        li.facts__item.facts-item
          .facts-item__title 05
          .facts-item__text Расширили базу с поставщиками оборудования
        li.facts__item.facts-item
          .facts-item__title 06
          .facts-item__text Освоили полный цикл работ: от проектирования до строительства 
        li.facts__item.facts-item
          .facts-item__title 07
          .facts-item__text Научились решать стандартные задачи нестандартным путем
        li.facts__item.facts-item
          .facts-item__title 08
          .facts-item__text Привлекаем новые уникальные кадры
        li.facts__item.facts-item
          .facts-item__title 09
          .facts-item__text Подтверждаем свою надежность перед заказчиками
        li.facts__item.facts-item
          .facts-item__title 10
          .facts-item__text Не боимся брать сложные проекты и двигаемся только вперед

  section.promo.margin-section
    img.promo__img(src="images/promo.jpg" alt="Промо")
    .promo__content 
      span.subtitle Наш узкий профиль
      h2.promo__title.h2title Мы не боимся давать гарантии качества
      p.promo__text Мы строим ледовые дворцы и бассейны с 2012 года и в совершенстве освоили все этапы их создания: от комплексной разработки до последовательного монтажа технологических участков.
      p.promo__text Добавьте к этому наш опыт в создании «живого» климата на спортивных объектах, чтобы получить полный комплект, смонтированный «под ключ»
      ul.promo__info.promo-info
        li.promo__col
          span.promo-info__title 10
          p.promo-info__text Лет работаем
        li.promo__col
          span.promo-info__title 25
          p.promo-info__text Объектов построено

  section.advantages.margin-section
    .container
      h2.visually-hidden Преимущества
      ul.advantages__list
        li.advantages__item.advantages-item
          .advantages-item__icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 3H21C21.2652 3 21.5196 3.10536 21.7071 3.29289C21.8946 3.48043 22 3.73478 22 4V20C22 20.2652 21.8946 20.5196 21.7071 20.7071C21.5196 20.8946 21.2652 21 21 21H3C2.73478 21 2.48043 20.8946 2.29289 20.7071C2.10536 20.5196 2 20.2652 2 20V4C2 3.73478 2.10536 3.48043 2.29289 3.29289C2.48043 3.10536 2.73478 3 3 3ZM4 5V19H20V5H4ZM8.5 14H14C14.1326 14 14.2598 13.9473 14.3536 13.8536C14.4473 13.7598 14.5 13.6326 14.5 13.5C14.5 13.3674 14.4473 13.2402 14.3536 13.1464C14.2598 13.0527 14.1326 13 14 13H10C9.33696 13 8.70107 12.7366 8.23223 12.2678C7.76339 11.7989 7.5 11.163 7.5 10.5C7.5 9.83696 7.76339 9.20107 8.23223 8.73223C8.70107 8.26339 9.33696 8 10 8H11V6H13V8H15.5V10H10C9.86739 10 9.74021 10.0527 9.64645 10.1464C9.55268 10.2402 9.5 10.3674 9.5 10.5C9.5 10.6326 9.55268 10.7598 9.64645 10.8536C9.74021 10.9473 9.86739 11 10 11H14C14.663 11 15.2989 11.2634 15.7678 11.7322C16.2366 12.2011 16.5 12.837 16.5 13.5C16.5 14.163 16.2366 14.7989 15.7678 15.2678C15.2989 15.7366 14.663 16 14 16H13V18H11V16H8.5V14Z" fill="#008CCC"/>
            </svg>
          p.advantages-item__text Снижаем финансовые затраты заказчика
        li.advantages__item.advantages-item
          .advantages-item__icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5 12L10.412 14.116L9.972 19.608L6.388 15.424L1.028 16.702L3.9 12L1.028 7.29797L6.388 8.57597L9.972 4.39197L10.412 9.88397L15.5 12ZM10.293 12L8.516 11.261L8.363 9.34497L7.112 10.805L5.241 10.358L6.244 12L5.241 13.641L7.111 13.195L8.363 14.654L8.516 12.739L10.293 12ZM22 7.99997H13V5.99997H22V7.99997ZM22 18H13V16H22V18ZM22 13H17V11H22V13Z" fill="#008CCC"/>
            </svg>
          p.advantages-item__text Функционально улучшаем характеристики объектов
        li.advantages__item.advantages-item
          .advantages-item__icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 1V3H15V1H17V3H21C21.2652 3 21.5196 3.10536 21.7071 3.29289C21.8946 3.48043 22 3.73478 22 4V20C22 20.2652 21.8946 20.5196 21.7071 20.7071C21.5196 20.8946 21.2652 21 21 21H3C2.73478 21 2.48043 20.8946 2.29289 20.7071C2.10536 20.5196 2 20.2652 2 20V4C2 3.73478 2.10536 3.48043 2.29289 3.29289C2.48043 3.10536 2.73478 3 3 3H7V1H9ZM20 8H4V19H20V8ZM15.036 10.136L16.45 11.55L11.5 16.5L7.964 12.964L9.38 11.55L11.501 13.672L15.037 10.136H15.036Z" fill="#008CCC"/>
            </svg>
          p.advantages-item__text Сокращаем общие сроки производства работ

  section.reviews#reviews.margin-section
    .container.tabs.reviews__container
      h2.visually-hidden Отзывы и сертификаты
      span.reviews__subtitle.subtitle Нас благодарят
      ul.reviews__tabs.reviews-tabs
        li.reviews-tabs__item 
          button.reviews-tabs__btn.tabs__btn.tabs__btn--active(data-tab="1") Отзывы
        li.reviews-tabs__item 
          button.reviews-tabs__btn.tabs__btn(data-tab="2") Сертификаты
      .reviews__tab.tabs__container.tabs__container--active(data-tab="1")
        .reviews__gallery.swiper-container
          .swiper-wrapper
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .reviews__tab.tabs__container(data-tab="2")
        .reviews__gallery.swiper-container
          .swiper-wrapper
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
            .reviews__item.reviews-item.swiper-slide
              img.reviews-item__img(src="images/review.jpg" alt="")
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next

  section.contacts#contacts
    .contacts__map
      <script type="text/javascript" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad568fa6513ea570d71b0e5efa49e527d749926cc3f8a0bb87f6ed58578592216&amp;width=100%25&amp;height=839&amp;lang=ru_RU&amp;scroll=false"></script>
    .container.contacts__container
      .contacts__info 
        h2.contacts__title.h2title Контакты
        a.contacts__row(href="tel:88123850083") 
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 10.9467V13.304C14.0001 13.4728 13.9361 13.6353 13.8211 13.7588C13.706 13.8823 13.5484 13.9575 13.38 13.9693C13.0887 13.9893 12.8507 14 12.6667 14C6.77533 14 2 9.22467 2 3.33333C2 3.14933 2.01 2.91133 2.03067 2.62C2.04248 2.45163 2.11772 2.29401 2.2412 2.17894C2.36468 2.06387 2.52722 1.99992 2.696 2H5.05333C5.13603 1.99992 5.2158 2.03057 5.27715 2.08601C5.33851 2.14145 5.37706 2.21772 5.38533 2.3C5.40067 2.45333 5.41467 2.57533 5.428 2.668C5.56049 3.59262 5.832 4.49189 6.23333 5.33533C6.29667 5.46867 6.25533 5.628 6.13533 5.71333L4.69667 6.74133C5.5763 8.79097 7.2097 10.4244 9.25933 11.304L10.286 9.868C10.328 9.80933 10.3892 9.76725 10.459 9.7491C10.5288 9.73095 10.6028 9.73787 10.668 9.76867C11.5113 10.1692 12.4104 10.4401 13.3347 10.572C13.4273 10.5853 13.5493 10.6 13.7013 10.6147C13.7835 10.6231 13.8596 10.6617 13.9149 10.7231C13.9702 10.7844 14.0008 10.8641 14.0007 10.9467H14Z" fill="#008CCC"/>
          </svg>
          | +7 (812) 385-00-83 
        a.contacts__row(href="mailto:secretary@tlogika.ru")
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.00001 2H14C14.1768 2 14.3464 2.07024 14.4714 2.19526C14.5964 2.32029 14.6667 2.48986 14.6667 2.66667V13.3333C14.6667 13.5101 14.5964 13.6797 14.4714 13.8047C14.3464 13.9298 14.1768 14 14 14H2.00001C1.8232 14 1.65363 13.9298 1.52861 13.8047C1.40358 13.6797 1.33334 13.5101 1.33334 13.3333V2.66667C1.33334 2.48986 1.40358 2.32029 1.52861 2.19526C1.65363 2.07024 1.8232 2 2.00001 2ZM8.04001 7.78867L3.76534 4.15867L2.90201 5.17467L8.04868 9.54467L13.1027 5.17133L12.2307 4.16267L8.04068 7.78867H8.04001Z" fill="#008CCC"/>
          </svg>
          | secretary@tlogika.ru
        .contacts__row
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7713 10.438L7.99999 14.2093L4.22866 10.438C3.48281 9.69208 2.97488 8.74177 2.76912 7.70721C2.56335 6.67265 2.66899 5.60031 3.07266 4.62579C3.47634 3.65126 4.15992 2.81833 5.03698 2.23231C5.91404 1.64628 6.94517 1.3335 7.99999 1.3335C9.05481 1.3335 10.0859 1.64628 10.963 2.23231C11.8401 2.81833 12.5236 3.65126 12.9273 4.62579C13.331 5.60031 13.4366 6.67265 13.2309 7.70721C13.0251 8.74177 12.5172 9.69208 11.7713 10.438ZM3.33333 14.6666H12.6667V16H3.33333V14.6666Z" fill="#008CCC"/>
          </svg>
          | Россия, 195197, Санкт-Петербург, Кондратьевский пр. 15/3, офис 345-Ц


